In [ ]:
# Submitted by -
# Anurag Gupta
# 102015182
# 3NC8

In [48]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [25]:
df = pd.read_csv('DL.csv')

In [69]:
df

    Unnamed: 0      A       B       C      D      E      F    G
0            0   28.4   68.16   34.08  11.36   7.10   5.68  142
1            1  137.4  329.76  164.88  54.96  34.35  27.48  687
2            2  113.6  272.64  136.32  45.44  28.40  22.72  568
3            3  188.8  453.12  226.56  75.52  47.20  37.76  944
4            4   99.8  239.52  119.76  39.92  24.95  19.96  499
5            5  195.8  469.92  234.96  78.32  48.95  39.16  979
6            6   68.8  165.12   82.56  27.52  17.20  13.76  344
7            7   95.0  228.00  114.00  38.00  23.75  19.00  475
8            8  124.0  297.60  148.80  49.60  31.00  24.80  620
9            9  182.4  437.76  218.88  72.96  45.60  36.48  912
10          10   34.6   83.04   41.52  13.84   8.65   6.92  173
11          11  173.6  416.64  208.32  69.44  43.40  34.72  868
12          12  185.4  444.96  222.48  74.16  46.35  37.08  927
13          13  126.8  304.32  152.16  50.72  31.70  25.36  634
14          14   88.4  212.16  106.08  35.36  22.10  17.68  442
15          15  119.4  286.56  143.28  47.76  29.85  23.88  597
16          16  153.8  369.12  184.56  61.52  38.45  30.76  769
17          17  134.6  323.04  161.52  53.84  33.65  26.92  673
18          18  179.2  430.08  215.04  71.68  44.80  35.84  896
19          19   38.8   93.12   46.56  15.52   9.70   7.76  194
20          20   66.8  160.32   80.16  26.72  16.70  13.36  334
21          21  127.6  306.24  153.12  51.04  31.90  25.52  638
22          22  191.6  459.84  229.92  76.64  47.90  38.32  958
23          23   20.2   48.48   24.24   8.08   5.05   4.04  101
24          24   64.8  155.52   77.76  25.92  16.20  12.96  324
25          25  117.6  282.24  141.12  47.04  29.40  23.52  588
26          26   64.0  153.60   76.80  25.60  16.00  12.80  320
27          27   46.0  110.40   55.20  18.40  11.50   9.20  230
28          28   43.2  103.68   51.84  17.28  10.80   8.64  216
29          29   98.6  236.64  118.32  39.44  24.65  19.72  493
30          30  136.4  327.36  163.68  54.56  34.10  27.28  682
31          31  197.0  472.80  236.40  78.80  49.25  39.40  985
32          32   24.0   57.60   28.80   9.60   6.00   4.80  120
33          33  122.8  294.72  147.36  49.12  30.70  24.56  614
34          34  141.0  338.40  169.20  56.40  35.25  28.20  705
35          35   26.0   62.40   31.20  10.40   6.50   5.20  130
36          36   83.0  199.20   99.60  33.20  20.75  16.60  415
37          37  155.8  373.92  186.96  62.32  38.95  31.16  779
38          38   73.6  176.64   88.32  29.44  18.40  14.72  368
39          39   86.2  206.88  103.44  34.48  21.55  17.24  431
40          40   55.4  132.96   66.48  22.16  13.85  11.08  277
41          41   60.6  145.44   72.72  24.24  15.15  12.12  303
42          42  101.8  244.32  122.16  40.72  25.45  20.36  509
43          43  172.2  413.28  206.64  68.88  43.05  34.44  861
44          44  133.6  320.64  160.32  53.44  33.40  26.72  668
45          45   42.2  101.28   50.64  16.88  10.55   8.44  211
46          46  190.8  457.92  228.96  76.32  47.70  38.16  954
47          47   46.8  112.32   56.16  18.72  11.70   9.36  234
48          48   62.2  149.28   74.64  24.88  15.55  12.44  311
49          49  142.2  341.28  170.64  56.88  35.55  28.44  711

In [26]:
max = []
min = []

In [27]:
min_val = df['A'].min()
max_val = df['A'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 20.200000000000003
Maximum value: 197.0

In [28]:
min_val = df['B'].min()
max_val = df['B'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 48.48
Maximum value: 472.8

In [29]:
min_val = df['C'].min()
max_val = df['C'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 24.24
Maximum value: 236.4

In [30]:
min_val = df['D'].min()
max_val = df['D'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 8.08
Maximum value: 78.8

In [31]:
min_val = df['E'].min()
max_val = df['E'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 5.050000000000001
Maximum value: 49.25

In [32]:
min_val = df['F'].min()
max_val = df['F'].max()

max.append(max_val)
min.append(min_val)
print("Minimum value:", min_val)
print("Maximum value:", max_val)

Minimum value: 4.04
Maximum value: 39.4

In [33]:
max

[197.0, 472.8, 236.4, 78.8, 49.25, 39.4]

In [34]:
min

[20.200000000000003, 48.48, 24.24, 8.08, 5.050000000000001, 4.04]

In [62]:
def check(upperb, lowerb, ip):
  lower_bound = lowerb
  upper_bound = upperb

  def label_number(number):
    if number >= lower_bound and number <= upper_bound:
        return 1
    else:
        return 0

  input_numbers = np.random.randint(0, 300, 1000)
  labels = [label_number(number) for number in input_numbers]

    # Split the dataset into training and testing sets
  split_ratio = 0.8
  split_index = int(split_ratio * len(input_numbers))
  train_X, train_y = input_numbers[:split_index], labels[:split_index]
  test_X, test_y = input_numbers[split_index:], labels[split_index:]
  # Train a decision tree classifier on the training set
  classifier = DecisionTreeClassifier()
  classifier.fit(train_X.reshape(-1, 1), train_y)

  # Evaluate the performance of the classifier on the testing set
  accuracy = classifier.score(test_X.reshape(-1, 1), test_y)
  print("Accuracy:", accuracy)

    # Predict whether a new input number lies between the two given numbers
  new_number = ip
  prediction = classifier.predict([[new_number]])
  prediction = int(prediction)
  return prediction

In [63]:
input = [34, 60, 80, 90, 100, 120]

In [67]:
# Apply the function to all elements of the list using a lambda function
predict = list(map(lambda x,y,z: check(x,y,z), max, min, input))

Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0
Accuracy: 1.0

In [68]:
predict

[1, 1, 1, 0, 0, 0]

In [77]:
def output(p):
  col_name = ['A','B','C','D','E','F']
  for i in range(len(p)):
    if p[i] == 1:
      print(col_name[i],"column is valid")
    else:
      print(col_name[i],"column is invalid")

In [78]:
output(predict)

A column is valid
B column is valid
C column is valid
D column is invalid
E column is invalid
F column is invalid